<h2 mat-dialog-title>Details</h2>
<mat-dialog-content class="mat-typography">
  <table class="table table-striped table-hover">
    <tr>
      <td>Product</td>
      <td>{{ data.descreption }}</td>
    </tr>
    <tr>
      <td>Order ID</td>
      <td>{{ data.id }}</td>
    </tr>
    <tr>
      <td>Date of Start</td>
      <td>{{ data.assigned_date | date: 'fullDate' }}</td>
    </tr>
    <tr>
      <td>Date of Completion</td>
      <td>{{ data.completion_date | date: 'fullDate' }}</td>
    </tr>
    <tr>
      <td>Technician</td>
      <td>{{ data.Technician }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ data.Status }}</td>
    </tr>
    <tr>
      <td>Company Details</td>
      <td>{{ data.property }}</td>
    </tr>
    <tr>
      <td>Customer Details</td>
      <td>{{ data.CustomerDetails }}</td>
    </tr>
    <!-- Add more rows as needed -->
  </table>

  <div class="image-container">
    <div class="image">
      <!-- <img src="{{ data.customer_signature.url }}" alt="Customer Signature"> -->
      <!-- <img [src]="https://albecoservice.com/albecoproject/albecoproject/media/images/images/customer_signature_EmDPlA5.png" alt="Customer Signature"> -->
      <img [src]=" 'https://albecoservice.com/albecoproject/albecoproject/media/images/customer_signature_EmDPlA5.png' " alt="Customer Signature">

      <p>Customer Signature</p>
    </div>
    <div class="image">
      <img src="{{ data.employee_signature }}" alt="Technician Signature">
      <p>Technician Signature</p>
    </div>
    <!-- Add more images as needed -->
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="downloadPdf()" *ngIf="data.work_completed" class="ms-2">Download as PDF</button>
</mat-dialog-actions>
