/* You can add global styles to this file, and also import other style files */
@import 'dark-theme.scss';
@import 'colors';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-assigned{
    background: $assigned !important;
}

.bg-inprocess{
    background: $Inprocess !important;
}
.bg-completed{
    background: $completed !important;
}
.bg-unassigned{
    background: $unassigned !important;
}
.btn-primary{
    background: $btn-primary !important;
}
.btn-strok-primary{
    border-color: $btn-primary !important;
    color: $btn-primary !important;
}
